window {
    margin: 0px;
    border: 0px solid #bd93f9;
    /* border-radius: 3px; */
    /* background-color: #282a36; */
    background-color: #44475a;
    /* opacity: 0.98; */
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    border-radius: 10px;
    background-color: #ab84e2;
}

#input:focus {
    box-shadow: 0 0 0;
    color: #f8f8f2;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #44475a;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #44475a;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
} 

#entry.activatable #text {
    color: #f8f8f2;
}

#entry > * {
    color: #f8f8f2;
}

#entry:selected {
    background-color: #ab84e2;
    border-radius: 10px;
    color: #f8f8f2;
}

#entry:selected #text {
    font-weight: bold;
    color: #f8f8f2;
}
